<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Camion" asp-action="Index">🚛 Camions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Chauffeur" asp-action="Index">👤 Chauffeurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Transporteur" asp-action="Index">🏢 Transporteurs</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Livraison" asp-action="Index">📦 Livraisons</a>
    </li>
</ul>