@page
@model TMS_Project.Pages.AccueilModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center mt-5">
    <div class="container py-5 shadow-sm rounded bg-light">
        <h1 class="display-4 fw-bold text-primary">Bienvenue !</h1>
        <p class="lead">Système de Gestion de Transport et Logistique.</p>
        <hr class="my-4" style="width: 50%; margin: auto;">
        
        <p class="mb-4">Utilisez le menu en haut pour gérer vos transporteurs.</p>
        
        <a class="btn btn-primary btn-lg px-5 shadow" asp-page="/Transporteurs/IndexTrasporteurs">
            Commencer par les Transporteurs
        </a>
    </div>
</div>